{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


{#     {% set count = 0 %}#}
{#     {% for vraag in aantalVragen %}#}
{#     {% set count = count + 1 %}#}
{#          <li> {{ count}} </li>#}
{#     {% endif %}#}
{#     {% endfor %}#}
    {{ aantalVragen }}


{% endblock %}
